body {
    font-family: 'Comic Sans MS', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    z-index: 2;
    width: 100%;
    position: relative;
    text-align: center;
}
.pagination a {
    text-decoration: none;
    color: black;
    padding: 8px 15px;
    display: inline-block;
    min-width: 100px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 5px;
}
.pagination a.active {
    background-color: hsl(96, 100%, 50%);
    font-weight: bold;
    border-radius: 15px;
}
.pagination a:hover:not(.active) {
    background-color: hsl(313, 100%, 69%);
    border-radius: 15px;
}
h1 {
    font-family: 'Comic Sans MS', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 6rem;
}
@media screen and (max-width: 768px) {
.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.pagination a {
    text-decoration: none;
    color: black;
    padding: 8px 15px;
    display: inline-block;
    min-width: 100px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 1rem;
}
.pagination a.active {
    background-color: hsl(96, 100%, 50%);
    font-weight: bold;
    border-radius: 15px;
}
.pagination a:hover:not(.active) {
    background-color: hsl(313, 100%, 69%);
    border-radius: 15px;
}
section {
    max-width: 90%;
    padding: 10px;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
p {
    font-size: 1rem;
}
}
