h1{
    font-family: 'Comic Sans MS', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 6rem;
    margin: 20px 0;
}
h2{
    font-family: 'Comic Sans MS', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 4rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(225deg, cyan, pink, yellow);
    margin: 0;
}
p{
    margin: 10px 0;
    color: rgb(255, 0, 0);
    font-weight: bold;
    text-align: center;
}
.circle-container {
    position: relative;
    display: block;
    height: 300px;
    width: 400px;
    background: black;
    margin: 40px auto 0 auto;
}
header {
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
.circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    width: calc(var(--i) * 2.5vmin);
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid rgb(0, 255, 13);
    transform-style: preserve-3d;
    transform: rotateX(70deg) translateZ(50px) translateY(330px);
    animation: animate 3s ease-in-out calc(var(--i) * 0.08s) infinite;
    box-shadow: 0 0 15px rgb(124, 124, 124),
    inset 0 0 15px rgb(124, 124, 124);
}
@keyframes animate {
    0%,
    100% {
        transform: translate(-50%, -50%) rotateX(70deg) translateZ(50px) translateY(330px);
        filter: hue-rotate(0);
    }
    50% {
        transform: translate(-50%, -50%) rotateX(70deg) translateZ(50px) translateY(-15vmin);
        filter: hue-rotate(360deg);
    }
}
@media screen and (max-width: 768px) {
    .circle-container {
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
}